@media screen and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }


    #education,
    .education-details-container {
        margin-top: 2rem;
    }

    .skills-details-container {
        margin-top: 2rem;
    }


    #profile,
    .section-container {
        display: block;
    }


    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    .language-details-container {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .p-2 {
        font-size: small;
    }

   

    .p-1{
        font-size: 15px;
    }
    .contact-info-upper-container{
        flex-wrap: wrap;
        margin: 5px;
    }

    #about{
        margin-top: 70px;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 30vh;
    }

    #profile {
        margin-bottom: 0;
    }

    footer p {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 10px;
        padding: 10px;
        height: fit-content;
    }

    .contact-info-container p {
        font-size: 1rem;
    }

    .contact-info-upper-container {
        flex-wrap: wrap;
    }

    .logo {
        font-size: 2rem;
    }

    #contact {
        height: 50vh;
        padding: 10px;
        margin-top: 120px;
    }


   .language1, .language2{
width: 20%;
   }
   #skills{
    margin-top: 50px;
   }

   #about{
    margin-top: 70px;
   }

   #education{
    margin-bottom: 50px;
   }

   .b12,
    .b21 {
        width: 150px;
        height: 100px;
    }
}

@media screen and (max-width: 1400px) {
    #profile {
        margin-bottom: 2rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    #about{
        height: max-content;
    }

}


@media screen and (max-width: 400px){


    #profile {
        margin-bottom: 0;
    }
    .language1{
        width: 25%;
    }
    .language2{
        width: 25%;
    }

    
    .b12,
    .b21 {
        width: 40%;
    }

    .s-2{
        margin-bottom: 15px;
        font-size: 15px;
        text-align: left;
    }

    #skills{
        margin-top: 50px;
    }



    .language-details-container{
        display: flex;
    }

    #about{
        margin-top: 70px;
    }

    .p-3{
        font-size: large;
    }

    .education1{
        padding: 10%;
    }

    #contact{
        margin-top: 150px;
    }
}

@media screen and (max-width: 800px){
    
    #about{
        margin-top: 50px;
    }
}